body {
    background: rgb(0, 0, 0);
    margin: 100px;
}

header {
    display: flex;
    padding: 100px;
    z-index: 1000;
    justify-content: center;
}

@font-face {
    font-family: "FX_LED";
    src: url("../fonts/FX-LED-Bold.TTF");
}

@font-face {
    font-family: "Hack";
    src: url("../fonts/Hack-Bold.ttf");
}

.digital-clock {
    background-color: none;
    color: #ffff;
    display: flex;
    border-radius: 2rem;
    user-select: none;
    padding: 0 2rem;
    border: 0.5rem solid #2d2d2d;
}

.week{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    color: #2d2d2d;
    font-weight: bold;
    font-family: "Hack";
    display: flex;
    margin-bottom: 10px;
}

.week div {
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
}

.week .active {
    font-weight: bold;
    color: #ffffff;
}

.time {
    font-family: "FX_LED";
    position: relative; /* Necesario para posicionar elementos hijos */
}

.GMT {
    position: absolute; /* Posiciona el GMT dentro del contenedor .time */
    bottom: -20px; /* Coloca el GMT en la parte inferior */
    right: 0; /* Alinea el GMT a la derecha */
    font-family: "Hack"; /* Aplica la fuente Hack */
    font-size: 1rem; /* Ajusta el tamaño de la fuente */
    color: #ffffff; /* Color blanco para visibilidad */
    opacity: 0.8; /* Hace que sea un poco translúcido */
    text-align: right; /* Alinea el texto a la derecha */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.GMT .gmt,
.GMT .time-zone,
.GMT .location-info {
    display: block; /* Asegura que cada elemento esté en una línea separada */
    margin: 0; /* Elimina márgenes adicionales */
}

.hour,
.min, .sec, .dot {
    display: inline-block;
    font-size: 13rem;
}

.min {
    display: math;
}

.invisible {
    visibility: hidden;
}
.visible {
    visibility: visible;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dot.seconds {
    animation: blink 1s step-start infinite;
}